* {/*Universal Selector*/
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}    

body {/*Determines the color of the page background*/
    background-color: #d9dcd6;
}    

h1,
li,
main {/*Common display parameter*/
    display: inline-block;
}

h1 {/*Title one font size*/
        font-size: 48px;
}    

h2,
article {/*Common margin parameter*/
    margin-bottom: 20px;
}

h2 {/*Title 2 font size*/
    font-size: 36px;
}    

h3 {/*Title 3 parameters*/
    margin-bottom: 10px;
    text-align: center;
}    

h4,
ul {/*Common font size parameter*/
    font-size: 20px;
}

ul,
aside {/*Common parameters*/
    margin-right: 20px;
    float: right;
}

ul,
article,
aside {/*Common font parameter*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}    

ul {/*List styling*/
    padding-top: 15px;    
    list-style-type: none;
}    

li {/*line parameter*/
    margin-left: 25px;
}    

a,
header,
article,
section {/*Common color parameter*/
    color: #ffffff;
}

a {/*Removing decoration from hyperlinks*/
    text-decoration: none;
}        

p {/*Font size for text*/
    font-size: 16px;
}    

header,
footer {/*Common font parameter*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}    

header,
aside {/*Common parameter*/
    padding: 20px;
}

header {/*Determines the style, colors and padding of the header*/
    background-color: #275872;
}    

footer {/*Footer parameters*/
    padding: 30px;
    clear: both;
    text-align: center;
}    

figure {/*Background image properties*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}    

main {/*Main specific parameters*/
    width: 75%;
    margin-left: 20px;
}    

article {/*Article specific parameters*/
    padding: 50px;
    height: 300px;
    background-color: #00578F;
}

article img {/*Specific image parameter*/
    max-height: 200px;
}

aside {/*Aside specific parameters*/
    clear: both;    
    width: 20%;
    height: 100%;
    background-color: #175777;
}    

section {/*Section specific parameter*/
    margin-bottom: 32px;
}

section img {/*Specific image parameters*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.float-left {/*Images going to the left parameter*/
    float: left;
    margin-right: 25px;
}        

.float-right {/*Image going to the right parameter*/
    float: right;
    margin-left: 25px;
}        

#seo {/*Color for the 3 off colored letters of the company's name*/
    color: #d9dcd6;
}